<?xml version="1.0"?>


<launch>
  <!-- ros_control -->
  <rosparam command="load"
            file="$(find webots_turtlebot3_examples)/config/diff_drive.yaml"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="diff_drive_controller"/>

  <!-- Start Webots -->
  <arg name="no_gui" default="false" doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_turtlebot3_examples)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find webots_turtlebot3_examples)/worlds/turtlebot3_burger.wbt"/>
  </include>


</launch>
